html {
  height: 100%;
  }
body {
  min-height: 100%;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
header { 
  margin: 0;
  padding: 0;
  height: 50px;
  }
main { 
  margin: 0;
  padding: 0;
  height: auto;    
  }
footer { 
  margin: 0;
  padding: 0;
  height: 50px;    
  }
.wrapper-main {
  width: 1000px;
  margin: 0 auto;
  }
h1 {
  margin: 0 20px;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 24px;
  color: white;
  }
h2 {
  margin: 0 20px;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 10px;
  color: white;
  }
p {
  margin: 0 20px;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 10px;
  color: white;
  }
a {
  font-family: 'Courier New', monospace;
  color: yellow;
  text-decoration: none;
  }
a:hover {
  text-decoration: red wavy underline; 
  cursor: pointer;  
  }
button {
  font-family: 'Courier New', monospace;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
}
button:hover {
  background-color: yellow;
  color: black;
  text-decoration: red wavy underline;
}
input[type="checkbox"] {
  width: 2em;
  height: 2em;
  accent-color: yellow;
}
table {
  margin-left:auto;
  margin-right:auto;
  width: 98%;
  border: 1px solid yellow;
}
iframe {
  display: block;
  max-width: 80%;
  width: auto;
  height: auto;
}
.numberGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rollButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
}
.diceNumber {
  font-size: 20px;
}
.googleDoc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
