* {
  box-sizing: border-box;
}
html {
  height: 100%;
  }
body {
  min-height: 100%;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
header { 
  margin: 0;
  padding: 0;
  height: 50px;
  }
main { 
  margin: 0;
  padding: 0;
  height: auto;    
  }
footer { 
  margin: 0;
  padding: 0;
  height: 50px;    
  }
h1 {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 24px;
  color: white;
  }
h2 {
  margin: 0 20px;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 10px;
  color: yellow;
  }
p {
  margin: 0 20px;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 10px;
  color: white;
  }
a {
  color: yellow;
  text-decoration: none;
  }
a:hover {
  text-decoration: red wavy underline; 
  cursor: pointer;  
  }
label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-family: 'Courier New', monospace;
  font-weight: 600;
  font-size: 14px;
  }  
textarea {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: #2F2F2F;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  resize: vertical;
  transition: border-color 0.3s;
  }  
textarea:focus {
  outline: none;
  border-color: #00FFFF;
  } 
input[type="number"] {
  width: 100%;
  max-width: 50px;
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: #2F2F2F;
  color: white;
  font-size: 14px;
  transition: border-color 0.3s;
  } 
input[type="number"]:focus {
  outline: none;
  border-color: #00FFFF;
  pointer-events: none;
  }
button {
  background-color: white;
  font-family: 'Courier New', monospace;
  border-style: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  }
button:hover {
  background-color: yellow;
  color: black;
  text-decoration: red wavy underline;
  }
button:active {
  background: yellow;
  }
.button-secondary {
  background: #666;
  }
.button-secondary:hover {
  }
table {
  margin-left:auto;
  margin-right:auto;
  width: 98%;
  border: 1px solid yellow;
  }
img {
  width: 100%;
  max-width: 600px;    /* Desktop */
  object-fit: contain; /* Adjust this value to change how images are displayed within their containers */
  border-radius: 10px; /* Corners */
  margin-bottom: 20px; /* Space between */
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
::placeholder {
  color: LightGrey;
}


.wrapper-main {
  max-width: 1000px; /* Set your desired maximum width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
.homeButton {
  color: white;
  }
.homeButton:hover {
  text-decoration: none;
  }
 .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }


iframe {
  display: block;
  max-width: 80%;
  width: auto;
  height: auto;
  }
.numberGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.rollButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
  }
.diceNumber {
  font-size: 20px;
  }
input[type="checkbox"] {
  width: 2em;
  height: 2em;
  accent-color: yellow;
  }
