
html {
      height: 100%;
      }
body {
      height: 100%;
      background-color: black;
      left: 20px;
      right: 20px;
      }
header { 
      height: 75px;    
      }
main { 
      height: calc(100% - 100px);    
      }
footer { 
      height: 25px;    
      }
h1 {
      font-family: 'Courier New', monospace;
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      }
h2 {
      font-family: 'Courier New', monospace;
      font-weight: normal;
      font-size: 10px;
      color: #FFFFFF;
      }
p {
      font-family: 'Courier New', monospace;
      font-weight: normal;
      font-size: 10px;
      color: #FFFFFF;
      }
a {
      color: yellow;
      text-decoration: none;
      height: 100px;
      }
a:hover {
      text-decoration: red wavy underline; 
      cursor: pointer;  
      }
table {
      width: 100%;
      border: 1px solid yellow;
      }
tr {
      height: 100px;
      }
img {
      max-height:100%;
      max-width:100%;
      }
